
@{
    ViewData["Title"] = "LoginError";
}

<div class="container">

        <h3> Invalid Authentication !!</h3>
        <h3>Please Check your Email and Password</h3>
        <br />
        <br />
        <br />
        <a asp-controller="Account" asp-action="Login">Return To Login Page</a>
        <br />
        <a asp-controller="Account" asp-action="Register">New to Les' Florence? Sign up for an account!</a>

</div>



