@using ShopClient.Models.ViewModels
@{
    ViewData["Title"] = "Login";
}
@model ShopClient.Models.ViewModels.LoginViewModel

<div class="row">
    <div class="col-md-4">
        <section>
            <h4>@ViewData["Title"]</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" formaction="/Account/LoginAsync">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
