
@{
    ViewData["Title"] = "Success";
}

<h1>YOU ORDER HAD BEEN PLACED SUCCESSFULLY!</h1>

<h1>Order Detail</h1>
<a style="font-family: Script MT" class="btn btn-outline-primary" asp-controller="home" asp-action="index">Continue Shopping</a>